@tailwind base;
@tailwind components;
@tailwind utilities;

/* Нормальная база вместо Vite-шаблона */
:root {
  color-scheme: dark;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  background: #060a14; /* твой тёмный фон */
  color: white;
  overflow-x: hidden;
}